<app-sidenav></app-sidenav>
<main class="content">
    <h1 class="display-4 text-center">Recruit Desk</h1>
    <h5>Applications</h5>
    <div class="form-group">
        <input id="search" type="text" name="search" class="form-control w-25 d-inline" [(ngModel)]="jobSearch" placeholder="Search Job" (input)="searchJob()">&nbsp;
        <input id="searchName" type="text" name="searchName" class="form-control w-25 d-inline" [(ngModel)]="nameSearch" placeholder="Search Name" (input)="searchName()">
    </div>
    <section class="m-2">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Application Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Post</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="applications != null">
                <tr *ngFor="let application of displayApplications">
                    <td>{{ application.id }}</td>
                    <td>{{ application.name }}</td>
                    <td>{{ application.email }}</td>
                    <td>{{ application.jobtitle }}</td>
                    <td><button routerLink="/recruiter/applications/{{ application.id }}" class="btn btn-warning">More Details</button></td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="displayApplications == null">No applications available</div>
    </section>
</main>