<header>
    <h1 class="display-4 text-center bg-light">Recruit Desk</h1>
</header>
<main class="row pt-5">
    <section class="col-lg-6 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/images/recruiter-home.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Recruiter</h5>
                <p class="card-text">Login here to start hiring process.</p>
                <a routerLink="/recruiter/login" class="card-link">Login</a>
            </div>
        </div>
    </section>
    <section class="col-lg-6 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/images/applicant-home.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Applicant</h5>
                <p class="card-text">Looking for a job, start your career here.</p>
                <a routerLink="#" class="card-link">Login</a>
                <a routerLink="#" class="card-link">Signup</a>
            </div>
        </div>
    </section>
</main>
