<app-sidenav></app-sidenav>
<main class="content">
    <h1 class="display-4 text-center">Recruit Desk</h1>
    <section class="row">
        <article class="col-lg-6">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top img-fluid" src="../../assets/images/job_vacancy.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">New Job</h5>
                    <p class="card-text">Add new job post.</p>
                    <button routerLink="/recruiter/jobs/add" class="btn btn-warning">More</button>
                </div>
            </div>
        </article>
        <article class="col-lg-6">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="../../assets/images/job-search.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">View Jobs</h5>
                    <p class="card-text">View, update and delete job posts.</p>
                    <button routerLink="/recruiter/jobs" class="btn btn-warning">More</button>
                </div>
            </div>
        </article>
    </section>
</main>
